<div class="devise-buttons">

  <%- if controller_name != 'sessions' %>
    <%= fa_button "sign-in", new_session_path(resource_name), text: "Log in" %><br />
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= fa_button "user-plus", new_registration_path(resource_name), text: "Sign up" %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <h4>Or, login with:</h4>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= fa_provider_button provider, resource: resource_name, icon: true %>
    <% end -%>
    <br style="clear:both"/><hr/>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= fa_button "key", new_password_path(resource_name), text: "Forgot your password?" %><br />
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= fa_button "share-square-o", new_confirmation_path(resource_name),
    text: "Didn't receive confirmation instructions?" %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= fa_button "unlock", new_unlock_path(resource_name),
    text: "Didn't receive unlock instructions?" %><br />
  <% end -%>
</div>
